@charset "UTF-8";
/**
 * Сброс стилей
 **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  color: inherit;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

input {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

body {
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
}

.wrap {
  margin: 0 auto;
  max-width: 1200px;
}

.main_h2 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-left: -2px;
  color: #2f2a27;
  text-transform: uppercase;
}

.main_hr {
  margin-top: 3px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 100px;
  height: 1px;
  border: none;
  background-color: #333;
}

.main__a {
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #2f2a27;
  background-color: #f3f3f3;
  width: 190px;
  height: 42px;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__a:hover {
  background-color: #2f2a27;
  color: #f3f3f3;
  transition: 0.4s;
}

.block-header {
  height: 88px;
  position: fixed;
  left: 0;
  right: 0;
  background-color: rgba(243, 243, 243, 0.5);
  z-index: 999;
}

.header {
  display: flex;
  align-items: center;
  position: fixed;
}
.header__logo {
  margin-right: 136px;
  margin-top: 15px;
}

.header__menu {
  margin-right: 105px;
}
.header__menu-list {
  display: flex;
  align-items: center;
}
.header__menu-item {
  margin-right: 30px;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  color: #2F2A27;
}

.block-intro-psihologist {
  padding-top: 80px;
}

.description {
  background-image: url(./images/photo.png);
  height: 670px;
  background-repeat: no-repeat;
  background-position: right;
}
.description__about {
  display: flex;
  flex-direction: column;
}
.description__about__1 h1 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-top: 136px;
  margin-left: -2px;
  color: #2f2a27;
}
.description__about__1 h2 {
  height: 70px;
  font-size: 70px;
  font-family: "Lato", monospace;
  font-weight: 300;
  font-style: normal;
  margin-left: -6px;
  color: #2f2a27;
}
.description__about__1 p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  margin-top: 30px;
  color: #535456;
}
.description__about__1 p > img {
  width: 15px;
  margin-bottom: 6px;
}
.description__about__2 {
  margin-top: 62px;
  display: flex;
  flex-direction: column;
}
.description__about__2 p {
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  font-style: light;
  font-size: 30px;
  line-height: 30px;
  color: #535456;
}
.description__about__2 a {
  margin-top: 23px;
  border-radius: 4px;
}

.achievements {
  margin-top: 60px;
  height: 426px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
}
.achievements__part-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.achievements__part-1 li {
  width: 368px;
  height: 58px;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.achievements__part-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 41px;
}
.achievements__part-2 li {
  width: 368px;
  height: 98px;
  margin-right: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 4px;
}
.achievements__part-3 {
  margin-top: 41px;
}
.achievements__part-3 li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  border: 1px solid black;
  border-radius: 4px;
}

.achievements span {
  font-weight: 400;
}

.about-me__experience {
  margin-top: 105px;
  display: flex;
}
.about-me__experience__photo img {
  width: 372px;
  height: 491px;
}
.about-me__experience__content {
  margin-left: 47px;
}
.about-me__experience__content__list hr:first-child {
  margin-top: 40px;
}
.about-me__experience__content__list hr {
  width: 783px;
  height: 1px;
  background-color: #333;
}
.about-me__experience__content__list li {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  height: 37px;
  padding-left: 183px;
  display: flex;
  align-items: center;
}
.about-me__experience__content__list li > p:first-child {
  margin-right: 120px;
}
.about-me__experience__content__list li img {
  width: 15px;
  margin-bottom: 6px;
}
.about-me__experience__content__numbers {
  display: flex;
  justify-content: space-between;
  margin-top: -20px;
}
.about-me__experience__content__numbers div {
  height: 91px;
  width: 204px;
  margin-top: 40px;
}
.about-me__experience__content__numbers div > p:first-child {
  font-family: "Lato", sans-serif;
  font-size: 70px;
  font-weight: 400;
  color: #AAAAAA;
}
.about-me__experience__content__numbers div > p:last-child {
  width: 168px;
  margin-top: -10px;
  margin-left: 40px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.about-me__experience__content__commit-1 {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -365px;
}
.about-me__experience__content__commit-1 div:first-child {
  height: 200px;
  width: 550px;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: italic;
  background-color: #F3F3F3;
}
.about-me__experience__content__commit-1 div:last-child {
  width: 549px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.about-me__experience__content__commit-2 {
  height: 100px;
  width: 783px;
  border-left: 2px solid black;
  margin-top: 42px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.about-me__experience__content__commit-2 span {
  font-weight: 500;
}
.about-me__experience__content h3 {
  font-size: 38px;
  font-weight: 300;
  margin-top: -35px;
}

.education {
  margin-top: 112px;
  margin-bottom: 100px;
}

.education__block-list {
  margin-top: 90px;
}
.education__block-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.education__block-list li img {
  margin-right: 65px;
}
.education__block-list__list__inner-div {
  display: flex;
  align-items: baseline;
}
.education__block-list__list__inner-div div {
  margin-left: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 300;
}
.education__block-list__list__inner-div span {
  font-weight: 400;
}
.education__block-list hr {
  width: 1160px;
  margin: 40px 0 40px 40px;
}

.my-work__img-1 {
  margin-left: 628px;
}
.my-work__img-2 {
  margin-top: 70px;
}

.my-work__examples {
  margin-top: 47px;
}
.my-work__examples__main-p {
  font-family: "Lato", sans-serif;
  font-size: 26px;
}
.my-work__examples__consulting {
  display: flex;
  align-items: center;
}
.my-work__examples__consulting__list-block {
  display: flex;
  flex-direction: column;
  margin-left: 149px;
}
.my-work__examples__consulting__list-block div {
  display: flex;
  align-items: center;
}
.my-work__examples__consulting__list-block p {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  padding: 16px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 0 20px 20px 0;
}
.my-work__examples__support {
  display: flex;
  align-items: center;
}
.my-work__examples__support__list-block {
  display: flex;
  align-items: center;
}
.my-work__examples__support__list-block div {
  margin: 60px 0 0 164px;
}
.my-work__examples__support__list-block div p {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  padding: 16px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 0 20px 20px 0;
}

.block-basics-work {
  margin-top: 120px;
  margin-bottom: 120px;
}

.basics-work__content {
  margin-top: 68px;
}
.basics-work__content p {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin-top: 10px;
}
.basics-work__content p:first-child {
  font-size: 24px;
  margin-top: 157px;
}
.basics-work__content p:nth-child(2) {
  margin-top: 31px;
}
.basics-work__content__01 {
  background-image: url(/images/background/01.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding-left: 190px;
}
.basics-work__content__02 {
  background-image: url(/images/background/02.png);
  background-repeat: no-repeat;
  background-position-x: 136px;
  padding-left: 419px;
  margin-top: -60px;
}
.basics-work__content__02 p:first-child {
  padding-top: 170px;
}

.block-interaction-formats {
  margin-bottom: 120px;
  height: 649px;
  background-image: url(/images/background/interaction.png);
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 24px;
}
.block-interaction-formats h2 {
  color: #FFFFFF;
}
.block-interaction-formats hr {
  height: 0.1px;
  border: 1px solid #FFFFFF;
  border-bottom-width: 0;
}

.first-p {
  text-transform: uppercase;
  font-size: 26px;
}

.interaction-formats {
  padding-top: 130px;
}
.interaction-formats__content {
  margin-top: 90px;
}
.interaction-formats__content__for-one {
  display: flex;
  justify-content: space-between;
}
.interaction-formats__content__for-one div {
  display: flex;
  align-items: center;
  margin-bottom: 81px;
}
.interaction-formats__content__for-one div img {
  width: 90px;
  margin-right: 22px;
}
.interaction-formats__content__for-one div:nth-child(2) {
  display: flex;
  justify-content: space-around;
}
.interaction-formats__content__for-one div:nth-child(2) p {
  margin-right: 76px;
}
.interaction-formats__content__for-two {
  display: flex;
  justify-content: space-between;
}
.interaction-formats__content__for-two div {
  display: flex;
  align-items: center;
}
.interaction-formats__content__for-two div img {
  width: 90px;
  margin-right: 22px;
}
.interaction-formats__content__for-two div:nth-child(2) {
  display: flex;
  justify-content: space-around;
  margin-left: 55px;
}
.interaction-formats__content__for-two div:nth-child(2) p {
  margin-right: 76px;
}

.block-main-details {
  padding-bottom: 120px;
}

.main-details__content {
  margin-top: 61px;
  padding-left: 17px;
}
.main-details__content__div {
  background-color: #f3f3f3;
  z-index: 2;
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: italic;
}
.main-details__content__div div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 27px 0;
}
.main-details__content__div div h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
.main-details__content__div div img {
  margin-right: 5px;
  padding: 5px;
  transition: 2s;
}
.main-details__content__div div:hover {
  cursor: pointer;
}
.main-details__content__div div:hover img {
  transition: 0.6s;
  border-radius: 50px;
  background-color: rgba(210, 210, 210, 0.888);
  cursor: pointer;
}
.main-details__content__div .btn_rotate {
  transform: rotate(45deg);
  transition: 2s;
}
.main-details__content__div p {
  padding-left: 5px;
  padding-bottom: 25px;
  display: block;
  position: relative;
  z-index: -1;
}
.main-details__content hr {
  height: 1px;
  margin: 0;
  border: none;
  background-color: #333;
}
.main-details__content .hr__open {
  transform: translateY(0);
  transition: 0.5s;
}
.main-details__content .hr-1__hidden {
  margin: 0;
  margin-top: -70px;
  transform: translateY(100%);
  transition: 0.9s;
}
.main-details__content .hr-2__hidden {
  margin: 0;
  margin-top: -120px;
  transform: translateY(100%);
  transition: 0.9s;
}
.main-details__content .hr-3__hidden {
  margin: 0;
  margin-top: -95px;
  transform: translateY(100%);
  transition: 0.9s;
}
.main-details__content .hr-4__hidden {
  margin: 0;
  margin-top: -120px;
  transform: translateY(100%);
  transition: 0.9s;
}
.main-details__content .end_block {
  height: 120px;
  position: relative;
  z-index: 3;
  background-color: #f3f3f3;
}

/*# sourceMappingURL=style.css.map */
