@charset "UTF-8";
/**
 * Сброс стилей
 **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  color: inherit;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

input {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
}

.wrap {
  margin: 0 auto;
  max-width: 1200px;
}

.main_h2 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-left: -2px;
  color: #2f2a27;
  text-transform: uppercase;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.main_hr {
  margin-top: 3px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 100px;
  height: 1px;
  border: none;
  background-color: #333;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.1s;
}

.main__a {
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #2f2a27;
  background-color: #f3f3f3;
  width: 190px;
  height: 42px;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__a:hover {
  background-color: #2f2a27;
  color: #f3f3f3;
  transition: 0.4s;
}

._anim-items.__activ {
  transform: translate(0px, 0px);
  opacity: 1;
}

.block-header {
  height: 88px;
  position: fixed;
  left: 0;
  right: 0;
  background-color: rgba(243, 243, 243, 0.5);
  z-index: 999;
}

.header {
  display: flex;
  align-items: center;
  position: fixed;
}
.header__logo {
  margin-right: 136px;
  margin-top: 15px;
}

.header__menu {
  margin-right: 105px;
}
.header__menu-list {
  display: flex;
  align-items: center;
}
.header__menu-item {
  margin-right: 30px;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  color: #2F2A27;
  transition: 1s;
  position: relative;
}
.header__menu-item::after {
  content: "";
  position: absolute;
  bottom: 20%;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: 0.4s;
}
.header__menu-item:hover:after {
  bottom: 0;
  border-bottom: 1px solid black;
}

.block-intro-psihologist {
  padding-top: 80px;
}

.description {
  background-image: url(../../images/photo.png);
  height: 670px;
  background-repeat: no-repeat;
  background-position: right;
}
.description__about {
  display: flex;
  flex-direction: column;
}
.description__about__1 h1 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-top: 136px;
  margin-left: -2px;
  color: #2f2a27;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.description__about__1 h2 {
  height: 70px;
  font-size: 70px;
  font-family: "Lato", monospace;
  font-weight: 300;
  font-style: normal;
  margin-left: -6px;
  color: #2f2a27;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.2s;
}
.description__about__1__p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  margin-top: 30px;
  color: #535456;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.4s;
}
.description__about__1__p span::after {
  content: "Процесс обучения и сертификации в Università degli Studi Milano Bicocca завершится в декабре 2025";
  position: absolute;
  visibility: hidden;
  height: 55px;
  width: 274px;
  border-radius: 4px;
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.5);
  background-color: rgba(240, 248, 255, 0.2901960784);
  padding: 14px;
  margin-left: 5px;
  transition: 0.5s;
  font-size: 15px;
}
.description__about__1__p span:hover:after {
  visibility: visible;
}
.description .img_info {
  width: 15px;
  margin-bottom: 6px;
  margin-left: 5px;
}
.description .div_info {
  display: flex;
  position: relative;
  transition: 0.5s;
}
.description .div_info__p {
  margin: 0;
}
.description__about__2 {
  margin-top: 62px;
  display: flex;
  flex-direction: column;
}
.description__about__2 p {
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  font-style: light;
  font-size: 30px;
  line-height: 30px;
  color: #535456;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.4s;
}
.description__about__2 a {
  margin-top: 23px;
  border-radius: 4px;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.4s;
}

.achievements {
  margin-top: 60px;
  height: 336px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
}
.achievements__part-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.achievements__part-1 li {
  width: 368px;
  height: 58px;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.achievements__part-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 41px;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.1s;
}
.achievements__part-2 li {
  width: 368px;
  height: 98px;
  margin-right: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 4px;
}
.achievements__part-3 {
  margin-top: 41px;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.2s;
}
.achievements__part-3 li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  border: 1px solid black;
  border-radius: 4px;
}

.achievements span {
  font-weight: 400;
}

.block-about-me {
  box-sizing: border-box;
  padding-top: 90px;
}

.about-me__experience {
  margin-top: 105px;
  display: flex;
}
.about-me__experience__photo img {
  width: 372px;
  height: 491px;
}
.about-me__experience__content {
  margin-left: 47px;
}
.about-me__experience__content__list li {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  height: 37px;
  display: flex;
  align-items: center;
  transform: translate(0px, 120%);
  opacity: 0;
}
.about-me__experience__content .li-1, .about-me__experience__content .li-2, .about-me__experience__content .li-3 {
  border-top: 2px solid black;
  padding: 16px 0;
}
.about-me__experience__content .li-1 {
  margin-top: 40px;
  transition: all 0.8s ease 0.2s;
}
.about-me__experience__content .li-2 {
  transition: all 0.8s ease 0.3s;
}
.about-me__experience__content .li-3 {
  transition: all 0.8s ease 0.4s;
  border-bottom: 2px solid black;
}
.about-me__experience__content .li-3 span::after {
  content: "Процесс обучения и сертификации в Università degli Studi Milano Bicocca завершится в декабре 2025";
  position: absolute;
  visibility: hidden;
  height: 55px;
  width: 274px;
  border-radius: 4px;
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.5);
  background-color: #f0f8ff;
  padding: 14px;
  margin-left: 5px;
  transition: 0.5s;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  margin-top: -43px;
  color: #535456;
}
.about-me__experience__content .li-3 span:hover::after {
  visibility: visible;
}
.about-me__experience__content__list li p {
  margin-right: 120px;
}
.about-me__experience__content__list li p:nth-child(1) {
  margin-left: 183px;
}
.about-me__experience__content__list li img {
  width: 15px;
  margin-bottom: 6px;
}
.about-me__experience__content__numbers {
  display: flex;
  justify-content: space-between;
  margin-top: -20px;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.2s;
}
.about-me__experience__content__numbers div {
  height: 91px;
  width: 204px;
  margin-top: 40px;
}
.about-me__experience__content__numbers div > p:first-child {
  font-family: "Lato", sans-serif;
  font-size: 70px;
  font-weight: 400;
  color: #AAAAAA;
}
.about-me__experience__content__numbers div > p:last-child {
  width: 168px;
  margin-top: -10px;
  margin-left: 40px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.about-me__experience__content__commit-1 {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -365px;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.2s;
}
.about-me__experience__content__commit-1 div:first-child {
  height: 200px;
  width: 550px;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: italic;
  background-color: #F3F3F3;
  z-index: 2;
}
.about-me__experience__content__commit-1 div:last-child {
  width: 549px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.about-me__experience__content__commit-2 {
  height: 100px;
  width: 783px;
  border-left: 2px solid black;
  margin-top: 42px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.about-me__experience__content__commit-2 span {
  font-weight: 500;
}
.about-me__experience__content h3 {
  font-size: 38px;
  font-weight: 300;
  margin-top: -35px;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.block-education {
  box-sizing: border-box;
  padding-top: 90px;
}

.education {
  margin-top: 22px;
  margin-bottom: 30px;
}

.education__block-list {
  margin-top: 50px;
}
.education__block-list li {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.education__block-list li .div-arrow {
  width: 90px;
  padding-right: 65px;
  transition: 1s;
}
.education__block-list .ed-two::after {
  position: absolute;
  content: "";
  width: 400px;
  height: 500px;
  right: -12%;
  background-image: url(/images/education/2013.png);
  background-repeat: no-repeat;
  z-index: 1;
  transition: 1s;
  opacity: 0;
  visibility: hidden;
}
.education__block-list .ed-two:hover:after {
  transition: 1s;
  opacity: 1;
  visibility: visible;
}
.education__block-list .ed-three::after {
  position: absolute;
  content: "";
  width: 400px;
  height: 500px;
  right: -12%;
  top: -30%;
  background-image: url(/images/education/2011.png);
  background-repeat: no-repeat;
  z-index: 1;
  transition: 1s;
  opacity: 0;
  visibility: hidden;
}
.education__block-list .ed-three:hover:after {
  transition: 1s;
  opacity: 1;
  visibility: visible;
}
.education__block-list .ed-four::after {
  position: absolute;
  content: "";
  width: 400px;
  height: 500px;
  right: -12%;
  top: -40%;
  background-image: url(/images/education/2009.png);
  background-repeat: no-repeat;
  z-index: 1;
  transition: 1s;
  opacity: 0;
  visibility: hidden;
}
.education__block-list .ed-four:hover:after {
  transition: 1s;
  opacity: 1;
  visibility: visible;
}
.education__block-list .ed-five::after {
  position: absolute;
  content: "";
  width: 559px;
  height: 500px;
  right: -12%;
  background-image: url(/images/education/2003.png);
  background-repeat: no-repeat;
  z-index: 1;
  transition: 1s;
  opacity: 0;
  visibility: hidden;
}
.education__block-list .ed-five:hover:after {
  transition: 1s;
  opacity: 1;
  visibility: visible;
}
.education__block-list li:hover .div-arrow {
  width: 30px;
  transition: 1s;
}
.education__block-list__list__inner-div {
  display: flex;
  align-items: baseline;
}
.education__block-list__list__inner-div div {
  margin-left: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 300;
}
.education__block-list__list__inner-div span {
  font-weight: 400;
}
.education__block-list hr {
  width: 1160px;
  margin: 0;
}

.block-my-work {
  box-sizing: border-box;
  padding-top: 90px;
}

.my-work__img-1 {
  margin-left: 628px;
}
.my-work__img-2 {
  margin-top: 70px;
}

.my-work__examples {
  margin-top: 47px;
}
.my-work__examples__main-p {
  font-family: "Lato", sans-serif;
  font-size: 26px;
}
.my-work__examples__consulting {
  display: flex;
  align-items: center;
}
.my-work__examples__consulting__list-block {
  display: flex;
  flex-direction: column;
  margin-left: 149px;
}
.my-work__examples__consulting__list-block div {
  display: flex;
  align-items: center;
}
.my-work__examples__consulting__list-block p {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  padding: 16px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 0 20px 20px 0;
}
.my-work__examples__support {
  display: flex;
  align-items: center;
}
.my-work__examples__support__list-block {
  display: flex;
  align-items: center;
}
.my-work__examples__support__list-block div {
  margin: 60px 0 0 164px;
}
.my-work__examples__support__list-block div p {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  padding: 16px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 0 20px 20px 0;
}

.block-basics-work {
  margin-top: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  padding-top: 90px;
}

.basics-work__content {
  margin-top: 68px;
}
.basics-work__content p {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin-top: 10px;
}
.basics-work__content p:nth-child(2) {
  margin-top: 31px;
}
.basics-work__content__01 {
  background-image: url(/images/background/01.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding-left: 190px;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.basics-work__content__01 .first_step {
  font-size: 24px;
  margin-top: 157px;
}
.basics-work__content__01 div {
  display: flex;
}
.basics-work__content__01 div .div_info_sessions {
  position: relative;
  margin-bottom: 10px;
  height: 19px;
  width: 19px;
}
.basics-work__content__01 div .div_info_sessions::after {
  position: absolute;
  content: "Однако процесс терапии является цикличным, и возвращение к формулировке и уточнению целей будет происходить неоднократно";
  background-color: aquamarine;
  height: 75px;
  width: 262px;
  padding: 15px;
  margin-left: 25px;
  border-radius: 5px;
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  background-color: rgba(240, 248, 255, 0.2901960784);
  visibility: hidden;
}
.basics-work__content__01 div.div_info_sessions:hover:after {
  visibility: visible;
  transition: 0.5s;
}
.basics-work__content__02 {
  background-image: url(/images/background/02.png);
  background-repeat: no-repeat;
  background-position-x: 190px;
  padding-left: 480px;
  margin-top: 100px;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.basics-work__content__02 p:first-child {
  padding-top: 170px;
}

.link-block-interaction-formats {
  padding-top: 90px;
  box-sizing: border-box;
}

.block-interaction-formats {
  margin-bottom: 120px;
  height: 649px;
  background-image: url(/images/background/interaction.png);
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 24px;
}
.block-interaction-formats h2 {
  color: #FFFFFF;
}
.block-interaction-formats hr {
  height: 0.1px;
  border: 1px solid #FFFFFF;
  border-bottom-width: 0;
}

.first-p {
  text-transform: uppercase;
  font-size: 26px;
}

.interaction-formats {
  padding-top: 130px;
}
.interaction-formats__content {
  margin-top: 90px;
}
.interaction-formats__content__for-one {
  display: flex;
  justify-content: space-between;
}
.interaction-formats__content__for-one div {
  display: flex;
  align-items: center;
  margin-bottom: 81px;
}
.interaction-formats__content__for-one div img {
  width: 90px;
  margin-right: 22px;
}
.interaction-formats__content__for-one div:nth-child(2) {
  display: flex;
  justify-content: space-around;
}
.interaction-formats__content__for-one div:nth-child(2) p {
  margin-right: 76px;
}
.interaction-formats__content__for-two {
  display: flex;
  justify-content: space-between;
}
.interaction-formats__content__for-two div {
  display: flex;
  align-items: center;
}
.interaction-formats__content__for-two div img {
  width: 90px;
  margin-right: 22px;
}
.interaction-formats__content__for-two div:nth-child(2) {
  display: flex;
  justify-content: space-around;
  margin-left: 55px;
}
.interaction-formats__content__for-two div:nth-child(2) p {
  margin-right: 76px;
}

.main-details__content {
  margin-top: 61px;
  padding-left: 17px;
}
.main-details__content__div {
  background-color: #f3f3f3;
  z-index: 2;
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: italic;
}
.main-details__content__div div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 27px 0;
}
.main-details__content__div div h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
.main-details__content__div div img {
  margin-right: 5px;
  padding: 5px;
  transition: 0.9s;
}
.main-details__content__div div:hover {
  cursor: pointer;
}
.main-details__content__div div:hover img {
  transition: 0.9s;
  border-radius: 50px;
  background-color: rgba(210, 210, 210, 0.888);
  cursor: pointer;
}
.main-details__content__div .btn_rotate {
  transform: rotate(45deg);
  transition: 0.9s;
}
.main-details__content__div p {
  padding-left: 5px;
  padding-bottom: 20px;
  display: block;
  position: relative;
  z-index: -1;
}
.main-details__content hr {
  height: 1px;
  margin: 0;
  border: none;
  background-color: #333;
}
.main-details__content .hr__open {
  transform: translateY(0);
  transition: 0.9s;
}
.main-details__content .hr-1__hidden {
  margin: 0;
  margin-top: -70px;
  transform: translateY(100%);
  transition: 0.9s;
}
.main-details__content .hr-2__hidden {
  margin: 0;
  margin-top: -120px;
  transform: translateY(100%);
  transition: 0.9s;
}
.main-details__content .hr-3__hidden {
  margin: 0;
  margin-top: -95px;
  transform: translateY(100%);
  transition: 0.9s;
}
.main-details__content .hr-4__hidden {
  margin: 0;
  margin-top: -120px;
  transform: translateY(100%);
  transition: 0.9s;
}
.main-details__content .end_block {
  height: 120px;
  position: relative;
  z-index: 3;
  background-color: #f3f3f3;
}

.quote {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}
.quote__words {
  background-color: #5B5B5B;
  font-weight: 300;
  font-size: 30px;
  color: #f3f3f3;
  width: 1200px;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quote__words p {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.1s;
}
.quote__imgs {
  display: flex;
  transform: translate(0px, 0px);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.quote__imgs span, .quote__imgs img, .quote__imgs div {
  width: 300px;
  height: 260px;
}
.quote__imgs div {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #5B5B5B;
  background-color: #ffffff;
  padding-bottom: 20px;
  box-sizing: border-box;
}
.quote__imgs div a {
  border-bottom: #5B5B5B solid 1px;
  padding-bottom: 2px;
}

.block-consulting {
  margin-bottom: 120px;
}

.footer {
  background-image: url("/images/background/letter.png");
  background-repeat: no-repeat;
  background-size: 1400px 400px;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.5);
}
.footer__content {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  height: 400px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
.footer__content div {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.footer__content__about {
  padding-left: 10px;
}
.footer__content__about p:first-child {
  font-family: "Lato", sans-serif;
}
.footer__content__about p:nth-child(3) {
  font-size: 28px;
  font-family: "Lato", sans-serif;
  margin-top: 1px;
}
.footer__content__about img {
  width: 15px;
  margin-bottom: 6px;
}
.footer__content__about a {
  margin-top: 201px;
}
.footer__content__about hr {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 60px;
  height: 1px;
  border: none;
  background-color: #333;
}
.footer__content__about span::after {
  content: "Процесс обучения и сертификации в Università degli Studi Milano Bicocca завершится в декабре 2025";
  position: absolute;
  visibility: hidden;
  height: 55px;
  width: 274px;
  border-radius: 4px;
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.5);
  background-color: rgba(240, 248, 255, 0.2901960784);
  padding: 14px;
  margin-left: 5px;
  transition: 0.5s;
}
.footer__content__about span:hover:after {
  visibility: visible;
  transition: 0.5s;
}
.footer__content__links a {
  background-color: transparent;
  border: transparent;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.footer__content__links a:hover {
  text-decoration: none;
}
.footer__content__adress {
  align-items: end;
  padding-right: 10px;
}
.footer__content__adress p {
  font-size: 20px;
  margin-bottom: 15px;
}
.footer__content__adress p:last-child {
  margin-top: 185px;
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
