body {
    background-color: $body__gray;
    font-family: "Roboto", sans-serif;
}

.wrap {
    margin: 0 auto;
    max-width: 1200px;
}

.main_h2 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-left: -2px;
    color: #2f2a27;
    text-transform: uppercase;
}

.main_hr {
    margin-top: 3px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100px;
    height:1px;
    border:none;
    background-color:#333;
}

.main__a {
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #2f2a27;
    background-color: #f3f3f3;
    width: 190px;
    height: 42px;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__a:hover {
    background-color: #2f2a27;
    color: #f3f3f3;
    transition: 0.4s;
}