body {
    background-color: $body__gray;
    font-family: "Roboto", sans-serif;
}

.wrap {
    margin: 0 auto;
    max-width: 1200px;
}

.main_h2 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-left: -2px;
    color: #2f2a27;
    text-transform: uppercase;
}

.main_hr {
    margin-top: 3px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100px;
    height:1px;
    border:none;
    background-color:#333;
}