.block-education {
    box-sizing: border-box;
    padding-top: 90px;
}

.education {
    margin-top: 22px;
    margin-bottom: 30px;
}

.education__block-list {
    margin-top: 50px;

    & li {
        padding: 40px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        & .div-arrow {
            width: 90px;
            padding-right: 65px;
            transition: 1s;
        }
    }

    & .ed-two::after {
        position:absolute;
        content: '';
        width: 400px;
        height: 500px;
        right: -12%;
        background-image: url('../images/education/2013.png');
        background-repeat: no-repeat;
        z-index: 1;
        transition: 1s;
        opacity: 0;
        visibility: hidden;
    }

    & .ed-two:hover:after {
        transition: 1s;
        opacity: 1;
        visibility: visible;
    }

    & .ed-three::after {
        position:absolute;
        content: '';
        width: 400px;
        height: 500px;
        right: -12%;
        top: -30%;
        background-image: url('../images/education/2011.png');
        background-repeat: no-repeat;
        z-index: 1;
        transition: 1s;
        opacity: 0;
        visibility: hidden;
    }

    & .ed-three:hover:after {
        transition: 1s;
        opacity: 1;
        visibility: visible;
    }

    & .ed-four::after {
        position:absolute;
        content: '';
        width: 400px;
        height: 500px;
        right: -12%;
        top: -40%;
        background-image: url('../images/education/2009.png');
        background-repeat: no-repeat;
        z-index: 1;
        transition: 1s;
        opacity: 0;
        visibility: hidden;
    }

    & .ed-four:hover:after {
        transition: 1s;
        opacity: 1;
        visibility: visible;
    }

    & .ed-five::after {
        position:absolute;
        content: '';
        width: 559px;
        height: 500px;
        right: -12%;
        background-image: url('../images/education/2003.png');
        background-repeat: no-repeat;
        z-index: 1;
        transition: 1s;
        opacity: 0;
        visibility: hidden;
    }

    & .ed-five:hover:after {
        transition: 1s;
        opacity: 1;
        visibility: visible;
    }

    & li:hover {
        & .div-arrow {
            width: 30px;
            transition: 1s;
        }
    }

    &__list__inner-div {
        display: flex;
        align-items: baseline;

        & div {
            margin-left: 20px;
            font-family: 'Roboto', sans-serif;
            font-size: 28px;
            font-weight: 300;
        }

        & span {
            font-weight: 400;
        }
    }

    & hr {
        width: 1160px;
        margin: 0;
    }
}