.block-header {
    height: 88px;
    position: fixed;
    left: 0;
    right: 0;
    background-color: rgba(243, 243, 243, 0.5);
    z-index: 999;
}

.header {
    display: flex;
    align-items: center;
    position: fixed;

    &__logo {
        margin-right: 136px;
        margin-top: 15px;
    }
}

.header__menu {
    margin-right: 105px;

    &-list {
        display: flex;
        align-items: center;
    }

    &-item {
        margin-right: 30px;
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        color: #2F2A27;
        transition: 1s;
        position: relative;
    }

    &-item::after {
        content: '';
        position: absolute;
        bottom: 20%;
        left: 0;
        width: 100%;
        border-bottom: 1px solid #ffffff00;
        transition: 0.4s;

    }

    &-item:hover:after{
        bottom: 0;
        border-bottom: 1px solid black;
    }
}