.about-me {
    &__experience {
        margin-top: 105px;
        display: flex;

    }

    &__experience__photo img{
        width: 372px;
        height: 491px;
    }

    &__experience__content {
        margin-left: 47px;

        &__list hr:first-child {
            margin-top: 40px;
        }

        &__list hr {
            width: 783px;
            height:1px;
            background-color:#333;
        }

        &__list li {
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
            height: 37px;
            padding-left: 183px;
            display: flex;
            align-items: center;
        }

        &__list li > p:first-child {
            margin-right: 120px;
        }

        &__list li img {
            width: 15px;
            margin-bottom: 6px;
        }

        &__numbers {
            display: flex;
            justify-content: space-between;
            margin-top: -20px;

            & div {
                height: 91px;
                width: 204px;
                margin-top: 40px;
            }

            & div > p:first-child {
                font-family: 'Lato', sans-serif;
                font-size: 70px;
                font-weight: 400;
                color: #AAAAAA;
            }

            & div > p:last-child {

                width: 168px;
                margin-top: -10px;
                margin-left: 40px;
                font-size: 16px;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
            }
            
        }

        &__commit-1 {
            margin-top: 64px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: -365px;
            
            & div:first-child {
                height: 200px;
                width: 550px;
                border: 1px solid black;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                font-style: italic;
                background-color: #F3F3F3;

            }

            & div:last-child {
                width: 549px;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                font-size: 20px;
            } 
        }

        &__commit-2 {
            height: 100px;
            width: 783px;
            border-left: 2px solid black;
            margin-top: 42px;
            padding-left: 10px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;

            & span {
                font-weight: 500;
            }
        }
    }

    &__experience__content h3 {
        //font-family: 'Lato', sans-serif;
        font-size: 38px;
        font-weight: 300;
        margin-top: -35px;
    }

    margin-bottom: 50px;
}