.block-header {
    height: 88px;
    position: fixed;
    left: 0;
    right: 0;
    background-color: rgba(243, 243, 243, 0.5);
    z-index: 999;
}

.header {
    display: flex;
    align-items: center;
    position: fixed;

    &__logo {
        margin-right: 136px;
        margin-top: 15px;
    }
}

.header__menu {
    margin-right: 105px;

    &-list {
        display: flex;
        align-items: center;
    }

    &-item {
        margin-right: 30px;
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        color: #2F2A27;
    }
}