.block-intro-psihologist {
    padding-top: 80px;
}

.description {
    background-image: url(../../images/photo.png);
    height: 670px;
    background-repeat: no-repeat;
    background-position: right;

    &__about {
        display: flex;
        flex-direction: column;
    }

    &__about__1 h1 {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-size: 30px;
        margin-top: 136px;
        margin-left: -2px;
        color: #2f2a27;

    }

    &__about__1 h2 {
        height: 70px;
        font-size: 70px;
        font-family: "Lato", monospace;
        font-weight: 300;
        font-style: normal;
        margin-left: -6px;
        color: #2f2a27;

    }

    &__about__1 p {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        margin-top: 30px;
        color: #535456;
    }

    & .img_info {
        width: 15px;
        margin-bottom: 6px;
        margin-left: 5px;
    }

    & .div_info {
        display: flex;
        position: relative;
        transition: 0.5s;

        & p {
            margin: 0;
        }
    }

    & .div_info div::after {
        content: 'Процесс обучения и сертификации в Università degli Studi Milano Bicocca завершится в декабре 2025';
        position: absolute;
        visibility: hidden;
        height: 55px;
        width: 274px;
        border-radius: 4px;
        box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.5);
        background-color: #f0f8ff4a;
        padding: 14px;
        margin-left: 5px;
        transition: 0.5s;
    }

    & .div_info div:hover:after {
        visibility: visible;
    }

    &__about__2 {
        margin-top: 62px;
        display: flex;
        flex-direction: column;
    }

    &__about__2 p {
        font-family: 'Lato', Arial, sans-serif;
        font-weight: 400;
        font-style: light;
        font-size: 30px;
        line-height: 30px;
        color: #535456;

    }

    &__about__2 a {
        margin-top: 23px;
        border-radius: 4px;
    }
}

.achievements {
    margin-top: 60px;
    height: 336px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 22px;

    &__part-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__part-1 li {
        width: 368px;
        height: 58px;
        border: 1px solid black;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__part-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 41px;
    }

    &__part-2 li {
        width: 368px;
        height: 98px;
        margin-right: 43px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 4px;
    }

    &__part-3 {
        margin-top: 41px;
    }

    &__part-3 li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 58px;
        border: 1px solid black;
        border-radius: 4px;
    }
}

.achievements span {
    font-weight: 400;
}